@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absoluteCenter {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}