.composition {
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black,.4);
        border-radius: 2px;
        position: absolute;
        z-index: 2;
        outline-offset: 1rem;

        &--p1 {
            left: 0rem ;
            top: -3rem;
        }

        &--p2 {
            right: 0rem ;
            top: 2rem;
        }
        
        &--p3 {
            left:10rem ;
            top: 10rem;
        }
        &:hover{

            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.85);
    }
}