.story {
    width: 70%;
    @include responsive(tab-port) {
        width: 100%;
    }
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color: rgba($color-white,.5);
    border-radius: 3px;
    font-size: $default-font-size;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    padding:6rem ;
    padding-left: 9rem;
    margin-bottom: 10rem;
    // height: 20rem;
    // transform: skewx(-12deg);
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) ;
        position: relative;
    }
    &__img {
        height: 100%;
        overflow: hidden;
        transition: all .8s;
        &:hover {
            transform: scale(1.3);
            filter: blur(1px) brightness(80%);

        }
    }
 
    &__caption {
        @include absoluteCenter;
        top: 120%;
        color: white;
        font-size: 1.7rem;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .8s ease;
        opacity: 0;
        backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        top:50%
        
    }
    &:hover &__img {
        
        transform: scale(1.3);
        filter: blur(1px) brightness(80%);
    }

    
}
